*{
    font-family: verdana;
    margin: 0;
 }

 body {
    background: #eee;
 }
 .wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    max-height: 900px;
 }

.flex-container {
    display: flex;
    background: #fff;
    flex-wrap: wrap;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    height: 600px;

 }

 .box {
    height: 100px;
    min-width: 100px;

 }
 .one {
    background: #f00;

 }
 .two {
    background: #0f0;
    flex-shrink: 1;
 }
 .three {
    background: #00f;
    flex-shrink: 2;
 }